@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background-color: var(--background-color);
}

.stalker-target{
  z-index: 10;
  border-radius: 16px;
}
.stalker-target:hover {
  color: white;
  background-color: var(--primary-color);
}

:root {
  --primary-color: #0A5500;
  --secoundary-color: #D34D00;
  --background-color: #EFE6DC;
  --text-color: #03001A;
}
